<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMSettingsDeleteReasonTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateEmploymentTypeTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentAddPatrolLogsForCallTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMRemarksHistoryAddRemarksTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddWCClassCodeTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentRejectShiftTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentCallActionTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteDepartmentTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteEmploymentTypeTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMSettingsDeleteRemarkTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentRejectMultipleShiftsTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentViewShiftTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ViewPatrolEmployeeTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentProfileCommentsTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentScanImagesPassdownLogTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddRespondingAgencyTypeTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.TeamSupportTemplateAddTemplateTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddFederalHolidayTest"/>
      <class name="com.dits.citywide.tests.admin.training.AssignCourseTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateRespondingAgencyTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateFederalHolidayTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateCustomHolidayTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateRespondingAgencyTypeTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentStartShiftTest"/>
      <class name="com.dits.citywide.tests.operationhub.SitesPostOrdersAddAssignmentAndCheckpointTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddBeatTest"/>
      <class name="com.dits.citywide.tests.admin.training.UpdateCertificateTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentAllReportsTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddDepartmentTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddEmploymentTypeTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateBeatTest"/>
      <class name="com.dits.citywide.tests.patrol.PatrolApplyLeaveTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentMyCourseTest"/>
      <class name="com.dits.citywide.tests.patrol.PatrolStartShiftTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddBreakPageTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ApplyLeaveTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMRemarksHistoryActionTakenTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddLeaveTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateViolationTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentUpdateLeaveTest"/>
      <class name="com.dits.citywide.tests.LoginNegativeScenariosTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentMyAssignments"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMRemarksHistoryViewTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteChargesTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteCustomHolidayTest"/>
      <class name="com.dits.citywide.tests.patrol.PatrolUpdateLeaveTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.EmployeesViewRemarksTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentMyCoursesViewAndAssessmentTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddRespondingAgencyTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMSettingsAddRemarkTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentConfirmShiftTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteRespondingAgencyTypeTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgnetTeamSupportTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentEndShiftTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteWCClassCodeTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddViolationTest"/>
      <class name="com.dits.citywide.tests.LogoutTest"/>
      <class name="com.dits.citywide.tests.admin.training.AddNewCourseTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddNewActivityTemplateTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ApproveLeaveRequestsTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ApproveLeaveRequestsPatrolTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteRespondingAgencyTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMSettingsUpdateReasonTest"/>
      <class name="com.dits.citywide.tests.operationhub.AddNewCallTest"/>
      <class name="com.dits.citywide.tests.scheduling.AddShiftPatrolTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentMyAttendanceTest"/>
      <class name="com.dits.citywide.base.BaseTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.UpdateFieldAgentEmployeeTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateAllowanceTypeTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateWCClassCodeTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.DeclineLeaveRequestsTest"/>
      <class name="com.dits.citywide.tests.admin.training.DeleteCategoryTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ViewFieldAgentEmployeeTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.AddPatrolEmployeeTest"/>
      <class name="com.dits.citywide.tests.patrol.PatrolCancelLeaveTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMSettingsUpdateRemarkTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.CompanySettingsTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentCancelLeaveTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteViolationTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMRemarksHistoryUpdateRemarksTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddAllowanceTypeTest"/>
      <class name="com.dits.citywide.tests.patrol.PatrolVehicleInspectionTest"/>
      <class name="com.dits.citywide.tests.admin.training.UpdateCategoryTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.EmployeesAddRemarksTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.AddFieldAgentEmployeeTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteBreakTest"/>
      <class name="com.dits.citywide.tests.admin.training.AssessmentsResultsTest"/>
      <class name="com.dits.citywide.tests.scheduling.AddShiftTest"/>
      <class name="com.dits.citywide.tests.patrol.PatrolBeatsTest"/>
      <class name="com.dits.citywide.tests.admin.training.DeleteCertificateTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateChargesTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.DeclineLeaveRequestsPatrolTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateLeaveTest"/>
      <class name="com.dits.citywide.tests.admin.training.AddCategoryTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentMyReportsTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgnetNewPassdownLogTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentConfirmMultipleShiftsTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentViewPassdownLogTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMRemarksHistoryAssignCourseTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateDepartmentTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentViewSiteTest"/>
      <class name="com.dits.citywide.tests.LoginTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddCustomHolidayTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeletedAllowanceTypeTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateActivityTemplateTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteBeatTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddNotificationTypeTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.UpdateBreakTest"/>
      <class name="com.dits.citywide.tests.operationhub.SitesPostOrdersDeleteAssignmentAndCheckpointTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteLeaveTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.DeleteFederalHolidayTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.ERMSettingsAddReasonTest"/>
      <class name="com.dits.citywide.tests.admin.hrmanagement.AttendanceTest"/>
      <class name="com.dits.citywide.tests.admin.training.AddCertificateTest"/>
      <class name="com.dits.citywide.tests.admin.companysettings.AddChargesTest"/>
      <class name="com.dits.citywide.tests.admin.training.UpdateNewCourcesTest"/>
      <class name="com.dits.citywide.tests.fieldagent.FieldAgentApplyLeaveTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
